.header {
    padding: 1.5em;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
}

.logo {
    height: 1.5em;
}

.menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 3em;
    grid-column: 2;
}

.menu-mobile-container {
    background-image: linear-gradient(to right, #000406, #1f343e);
    padding: 1em 8%;
    animation: openHeader 500ms;

}

.menu-mobile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: stretch;
    gap: 2em;
    padding: 1em 0;
    overflow: hidden;
    animation: openHeader 500ms;

}

.menu-link {
    text-decoration: none;
    color: #fff;
    font-size: 1.2em;
    border-bottom: 2px solid transparent;
    font-family: 'Inter', sans-serif;
    font-weight: 600;
}

.menu-link:hover {
    color: #5ce1d4;
    border-bottom: 2px solid #5ce1d4;
}

.menu-button {
    cursor: pointer;
    grid-column: 4;
}

.menu-button.openned {
    animation: appear 200ms;
}

.menu-button.closed {
    animation: disappear 200ms;
}

@keyframes openHeader {
    from {
        height: 0;
        padding: 0;
    }
}

@keyframes appear {
    from {
        transform: rotate(180deg);
    }

    to {
        transform: rotate(0deg);
    }
}

@keyframes disappear {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(180deg);
    }
}
