@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

:root {
  font-family: 'Inter', 'Poppins', system-ui, Avenir, Helvetica, Arial, sans-serif;
}

body {
  margin: 0;
  padding: 0;
  border: 0;
  background-image: linear-gradient(to right, #000406, #1f343e);
}

.poppins {
  font-family: 'Poppins', sans-serif;
}

.archivo-black {
  font-family: 'Archivo Black', sans-serif; /* Fonte para elementos com a classe "archivo-black" */
}

.inter {
  font-family: 'Inter', sans-serif; /* Fonte padrão para o corpo do texto */
}