:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

body {
  margin: 0;
  padding: 0;
  border: 0;
}

.poppins {
  font-family: 'Poppins', sans-serif;
}

.archivo-black {
  font-family: 'Archivo Black', sans-serif; /* Fonte para elementos com a classe "archivo-black" */
}

.inter {
  font-family: 'Inter', sans-serif; /* Fonte padrão para o corpo do texto */
}